frontend:
  image:
    repository: vintage007/vector8-frontend
    tag: latest
  replicaCount: 2
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 200m
      memory: 128Mi

backend:
  image:
    repository: vintage007/vector8-backend
    tag: latest
  replicaCount: 2
  port: 8080
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 200m
      memory: 128Mi

ingress:
  enabled: true
  className: nginx
  host: ""
