name: ci

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & push frontend
        uses: docker/build-push-action@v6
        with:
          context: ./apps/frontend
          push: true
          tags: sarahodiavbara/vector8-frontend:latest

      - name: Build & push backend
        uses: docker/build-push-action@v6
        with:
          context: ./apps/backend
          push: true
          tags: sarahodiavbara/vector8-backend:latest
